* {
  margin: 0;
  padding: 0;
}

* .btn, * body .container .containerForm .btn-start, * body .container .containerPomodoro .containerButton .btn-pause, * body .container .containerPomodoro .containerButton .btn-stop {
  font-weight: bold;
  padding: 1em 3em;
  font-size: 16px;
  border: none;
  background-color: #f2f2f2;
  color: #d95550;
  cursor: pointer;
}

* body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #d95550;
}

* body .container {
  width: 46.87em;
  margin: 3em auto;
  text-align: center;
}

* body .container .title {
  font-size: 3.5em;
  margin-bottom: 0.75em;
  display: none;
}

* body .container .containerForm .subtitle {
  font-size: 2em;
  margin-bottom: 1em;
}

* body .container .containerForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container .containerForm form .containerInput {
  width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

* body .container .containerForm form .containerInput .labelTime {
  width: 30%;
  font-size: 1.10em;
}

* body .container .containerForm form .containerInput input[type="text"] {
  width: 67.5%;
  padding: 0.30em;
  border-radius: 2%;
  border: none;
  border: 3px solid transparent;
  font-size: 16px;
}

* body .container .containerForm form .containerInput input[type="text"]:focus {
  outline: none;
  border: 3px solid #ffe46b;
}

* body .container .containerForm .btn-start {
  padding: 0.65em 1.5em;
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

* body .container .containerForm .btn-start:hover {
  background-color: #ebebeb;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

* body .container .containerPomodoro {
  margin: 3em auto;
  width: 31.25em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2em;
}

* body .container .containerPomodoro .focus {
  color: #ffe46b;
  font-size: 2em;
}

* body .container .containerPomodoro .break {
  color: #ffe46b;
  font-size: 2em;
}

* body .container .containerPomodoro .containerTime {
  margin: 2em auto;
}

* body .container .containerPomodoro .containerTime .timing {
  font-size: 6.25em;
  font-weight: bold;
  color: #f2f2f2;
}

* body .container .containerPomodoro .containerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19em;
  margin: 0 auto;
}

* body .container .containerPomodoro audio {
  display: none;
}
/*# sourceMappingURL=estilos.css.map */